.app {
    display: flex;
    height: 100vh;
    background-color: #14273D;
}

.main-content{
    flex: 1;
    width: 600px;
    display: flex;
    flex-direction: column;
}

app-chat-window{
    flex:1;
    border-left: 1px solid whitesmoke;
}