.text-input{
    width: 40%;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.send-btn{
    width: 100px;
    height: 40px;
}

.chat-input{
    display: flex;
    gap: 1rem;
    height: 40px;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    justify-content: center;
    border-top: 1px solid whitesmoke;
}