<div class="sidebar-header">
  <app-button class="new-session-btn", label="New Session", icon="add", (click)="sessionService.createNewSession()">
  </app-button>
</div>

<div class="sidebar-list-container">
  <mat-nav-list>
  @for (session of sessionService.sessions(); track session.sessionID; let i = $index) {
    <a 
      mat-list-item 
      (click)="sessionService.selectSession(session.sessionID)"
      [class.active-session]="session.sessionID === sessionService.activeSessionId()"
    >
      <mat-icon matListItemIcon>chat_bubble_outline</mat-icon>
      <p>{{ session.startedAt | date:'dd.MM.yyyy HH:mm' }}</p>
    </a>
  }
</mat-nav-list>
</div>