<aside class="sidebar">
    <div class="session-h">
        <img src="./assets/esbot_logo.png" width="200">
        <h2 class="session-h2">sessions</h2>
    </div>
    <div class="new-session">
        <button matButton="filled" class="new-session-btn">New Session</button>
    </div>
    <div class="sessions">
        <mat-divider></mat-divider>
            <div class="session">
                <button matButton="tonal" class="session-btn">Session 1</button>
            </div>
        <mat-divider></mat-divider>
            <div class="session">
                <button matButton="tonal" class="session-btn">Session 2</button>
            </div>
        <mat-divider></mat-divider>
            <div class="session">
                <button matButton="tonal" class="session-btn">Session 3</button>
            </div>
        <mat-divider></mat-divider>
    </div>
</aside>